@charset "utf-8";

body
{
    font: normal 13px/normal Arial, Helvetica, sans-serif;
    padding: 0;
}

*
{
    padding: 0;
    margin: 0;
}

img
{
    border: none;
}

.mainContent .contentpan h1
{
    font: bold 20px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.mainContent .contentpan h2
{
    font: bold 18px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.mainContent .contentpan h3
{
    font: bold 17px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.mainContent .contentpan h4
{
    font: bold 15px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.mainContent .contentpan h5
{
    font: bold 12px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.mainContent .contentpan h6
{
    font: bold 10px Arial, Helvetica, sans-serif;
    padding: 8px 0 5px 5px;
}

.aligncenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft
{
    display: block;
    margin-right: auto;
}

.alignright
{
    display: block;
    margin-left: auto;
}

a:hover
{
    cursor: pointer;
}

ul
{
    list-style-type: none;
}

.page .pageheader
{
    font: bold 18px Arial, Helvetica, sans-serif;
    padding: 0 0 10px 5px;
}

    .page .pageheader a
    {
        text-decoration: none;
    }

.spacer
{
    clear: both;
    font-size: 0;
    line-height: 0;
}

.clr
{
    clear: both;
}

.floatleft
{
    float: left;
    width: auto;
}

.floatright
{
    float: right;
    width: auto;
}

.nobg
{
    background: none !important;
}

@font-face
{
    font-family: "Impact";
    src: url(font/dd.otf);
    font-style: normal;
    font-weight: normal;
}

.navi
{
    width: 100%;
}

#nav
{
    color: #fff;
}

.navinner
{
    margin: 0 auto;
    filter: alpha(opacity=100);
    opacity: 1.0;
}

    .navinner ul li
    {
        float: left;
        width: auto;
        text-decoration: none;
        margin: 0 2px 0 0;
        top: auto;
    }

    .navinner ul
    {
        padding: 10px 0 0 0;
        display: inline-block;
    }

        .navinner ul li a
        {
            float: left;
            width: auto;
            padding: 0 11px;
            font-size: 1.1em;
            line-height: 23px;
            font-weight: normal;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            cursor: pointer;
        }

            .navinner ul li a:hover
            {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
            }

        .navinner ul li.current_page_item
        {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }

#nav .sub-menu .sub-menu
{
    margin-left: 12px;
}

.navinner ul ul
{
    display: none;
    width: 85px;
    z-index: 9999;
    position: absolute;
    margin-top: 22px;
}

#nav ul li:hover ul
{
    display: block;
    margin: 0;
    padding: 0px 12px 0 0;
    margin-top: 22px;
}

#wrapper
{
    width: 97%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    clear: both;
    padding: 0 0 12px 0;
}

.mainContent
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    padding: 12px 0 0 0;
}

.contentpan
{
    overflow: hidden;
    height: 100%;
    padding: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

    .contentpan h1
    {
        background-color: inherit;
        line-height: 31px;
        font-weight: normal;
    }

    .contentpan h3
    {
        background-color: inherit;
        line-height: 26px;
        font-weight: normal;
        padding: 0 0 15px 0;
    }

    .contentpan p
    {
        padding: 5px 9px 5px;
    }

    .contentpan a
    {
        text-decoration: underline;
    }

.mainContent .contentpan .homepagetext
{
    font: normal 15px Arial, Helvetica, sans-serif;
    padding: 5px 8px;
    word-wrap: break-word;
    text-align: left;
}

.subscribeBox
{
    overflow: hidden;
    height: 100%;
}

    .subscribeBox img
    {
        float: left;
        width: auto;
        margin: 0 7px 0 0;
    }

    .subscribeBox input
    {
        background: url(images/input-bg.gif) no-repeat 0 0;
        width: 183px;
        height: 24px;
        border: 0;
        margin-bottom: 11px;
    }

.subscribe
{
    width: 125px !important;
    height: 29px !important;
    text-indent: -90000px !important;
    float: right !important;
    cursor: pointer !important;
    border: 0 !important;
}

p.alignCenter
{
    text-align: center;
    clear: both;
    padding: 20px 0 10px 0;
    color: #434343;
    background-color: inherit;
    font-size: 11px;
}

.footer
{
    padding: 2px 0px 2px 0px;
}

.footerborder
{
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    min-height: 25px;
}

.footinner
{
    margin: 10px auto;
}

    .footinner p
    {
        text-align: center;
        color: #a0a0a0;
        background-color: inherit;
        font-size: 11px;
        line-height: 21px;
    }

    .footinner a
    {
        text-decoration: underline;
    }

.headerpan
{
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    display: inline-table;
    width: 100%;
    margin: auto;
}

    .headerpan h4
    {
        font-size: 29px;
        line-height: 35px;
        text-align: center;
        font-weight: normal;
        padding: 25px 0 0 0;
    }

.listContent
{
    overflow: hidden;
    height: 100%;
}

    .listContent ul li
    {
        text-align: center;
        font-size: 15px;
        min-height: 115px;
        border: 1px solid #0ff;
        display: inline;
    }

        .listContent ul li.nomarg
        {
            margin: 0;
        }

.handcursor
{
    cursor: hand;
    cursor: pointer;
    padding: 5px 0 5px 0;
    margin: 0 0 10px 0;
}

h2.trigger
{
    padding: 0 0 0 30px;
    margin: 0 0 5px 0;
    height: 32px;
    line-height: 32px;
    width: 252px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    background-position: left;
}

    h2.trigger p
    {
        display: block;
        height: 32px;
        margin: 0;
        padding: 0pc;
        text-decoration: none;
        cursor: default;
    }

    h2.trigger a:hover
    {
        color: #ccc;
    }

.toggle_container
{
    margin: 0 0 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.0em;
    width: 99.8%;
    clear: both;
    margin: 0 0 7px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

    .toggle_container .block
    {
        padding: 15px;
        text-align: left;
    }

    .toggle_container h3
    {
        font: 2.5em normal Georgia, "Times New Roman", Times, serif;
        margin: 0 0 10px;
        padding: 0 0 5px 0;
        border-bottom: 1px dashed #ccc;
    }

    .toggle_container img
    {
        float: left;
        margin: 10px 15px 15px 0;
        padding: 5px;
        background: #ddd;
        border: 1px solid #ccc;
    }

.confidential
{
    text-align: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
    padding: 10px 0 5px 0;
}

.input_fname
{
    background: url(images/name-input-bg.gif) no-repeat;
    padding: 0px 0px 0px 30px;
    border: 0;
    width: 154px;
    height: 24px;
    margin: auto;
    background-position: middle;
    vertical-align: middle;
    color: #5f5f5f;
}

.input_email
{
    background: url(images/email-input-bg.gif) no-repeat;
    padding: 0px 0px 0px 30px;
    border: 0;
    width: 154px;
    height: 24px;
    background-position: middle;
    vertical-align: middle;
    color: #5f5f5f;
}

p.active
{
    background: url('images/h2_trigger_a-hover.gif') no-repeat #4A6174;
}

.li_desc
{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.logoimage
{
    display: inline;
    padding: 5px;
}

.headerborder
{
    border-bottom: 0px dashed #fff;
    text-align: center;
    min-height: 20px;
}

.headerlogo
{
    padding: 5px 5px 10px 5px;
    width: 92%;
    margin: auto;
}

.respondersubmit
{
    width: 125px;
    height: 29px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0;
    margin: 0;
}

.imgicon
{
    background: url(images/button.png) no-repeat;
    height: 77px;
    width: 77px;
    background-position: top;
}

.form
{
    width: 100%;
}

div.trigger_opt
{
    padding: 0px;
    margin: 0px;
    height: auto;
    line-height: 18px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    background-position: left;
    width: 100%;
    border-radius: 6px 6px 6px 6px;
}

    div.trigger_opt a:active
    {
        background-position: left;
    }

    div.trigger_opt p
    {
        display: block;
        height: auto;
        line-height: 20px;
        margin: 0;
        padding: 0;
        padding-top: 6px;
        margin: 0 0 0 25px;
        text-decoration: none;
        cursor: default;
    }

    div.trigger_opt a:hover
    {
        color: #ccc;
    }

.listcontentimg
{
    display: block;
    padding-left: 1px;
    text-align: center;
    border: 1px solid #ff0000;
}

.accordiandiv
{
    width: 100%;
    display: inline-table;
}

.contenthome
{
    text-align: center;
    display: inline-table;
    height: 74px;
    width: 74px;
}

.formimagediv
{
    float: right;
}

.formnoimagediv
{
    float: right;
    width: 100%;
}

.formcenter
{
    padding: 2px 0 3px 0px;
    text-align: center;
    height: 27px;
}

.formleft
{
    padding: 2px 0 2px 0px;
    text-align: left;
}

.formimagedivleft
{
    float: left;
}

a
{
    color: inherit;
    text-decoration: underline;
}

h2 a
{
    text-decoration: none;
}

    h2 a:hover
    {
        text-decoration: none;
    }

.navinner a
{
    text-decoration: none;
}

    .navinner a:hover
    {
        text-decoration: none;
    }

.page ul
{
    margin: 0px 9px 5px 20px;
    padding-top: 5px;
    font: inherit;
}

.page ol
{
    margin: 0px 9px 5px 20px;
    padding-top: 5px;
    font: inherit;
}

.page ul li
{
    list-style-image: url('images/black-arrow.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    margin-bottom: 8px;
    margin-right: 35px;
    margin-left: 25px;
    padding-left: 4px;
    color: inherit;
    line-height: 16px;
    font-size: 13px;
}

.page ol li
{
    margin-bottom: 8px;
    margin-right: 35px;
    margin-left: 25px;
    padding-left: 8px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}

div.page blockquote
{
    background-image: url("images/openquote1.gif");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 5px 20px 5px 20px;
    padding: 14px;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-table;
}

    div.page blockquote p
    {
        display: block;
    }

.listcontenttext
{
    display: inline-table;
    padding-left: 1px;
    width: 100%;
}

.mainContent .contentpan .links
{
    margin: auto;
    display: inline-table;
}

    .mainContent .contentpan .links .block
    {
        display: inline-table;
        text-align: center;
        margin-bottom: 10px;
        width: 87px;
        vertical-align: top;
    }

        .mainContent .contentpan .links .block .imageblock
        {
            text-align: center;
            margin: auto;
            background: url(images/button.png) no-repeat;
            height: 77px;
            width: 77px;
            background-position: top;
        }

#homelinks
{
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

.mainContent .contentpan .links .block .imageblock img
{
    border: none;
    display: block;
    padding: 18%;
}

.accordaintopdiv
{
    display: table-cell;
    padding-top: 3px;
}

.accordiantopdiv_1
{
    margin: auto;
    width: 100%;
}

.accordiantopdiv_2
{
    float: left;
    padding-top: 3px;
    padding-left: 3px;
    width: 26px;
}

.accortitle_1
{
    padding-left: 4px;
}

.page hr
{
    margin: 9px 0px;
    color: inherit;
}

.siderbar h2, .entry h2
{
    font: bold 18px Arial,Helvetica,sans-serif;
}

.sidebar ul li, .date
{
    font: 13px Arial,Helvetica,sans-serif;
}

.hmemiddle
{
    font: 15px Arial,Helvetica,sans-serif;
    padding: 5px 8px;
    text-align: left;
    word-wrap: break-word;
}

img.alignright
{
    float: right;
    margin: 0 0 1em 1em;
}

img.alignleft
{
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright
{
    float: right;
    padding-left: 10px;
}

.alignleft
{
    float: left;
    padding-right: 10px;
}

.aligncenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption
{
    max-width: 96%;
}

    .wp-caption img
    {
        display: block;
        margin: 0 auto;
        max-width: 98%;
    }

    .wp-caption .wp-caption-text, .gallery-caption
    {
        font-size: 12px;
    }

    .wp-caption .wp-caption-text
    {
        margin-bottom: 0.6em;
        position: relative;
        text-align: center;
    }

.trigger_opt img
{
    padding: 0px;
}

.li_desc a
{
    text-decoration: none;
}

.accordiantopdiv_1 a
{
    text-decoration: none;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    
}

#nav
{
    background-color: #010066 !important;
    padding-bottom: 3px;
}

.navinner ul li a
{
    color: #FFFFFF !important;
}

    .navinner ul li a span
    {
        color: #FFFFFF !important;
        background-color: inherit;
    }

    .navinner ul li a:hover
    {
        color: #FFFFFF !important;
    }

.navinner ul li.current_page_item
{
    color: #FFFFFF !important;
}

    .navinner ul li.current_page_item a
    {
        color: #FFFFFF !important;
    }

.navinner ul li.selected a
{
    color: #FFFFFF !important;
}

.navinner ul li a:hover span, .navinner ul li a.active span
{
    color: #FFFFFF !important;
    background-color: inherit;
}

.contentpan, .sidebar ul li a, .date
{
    color: #333333 !important;
}

.pageheader, .sidebar h2, .entry h2
{
    color: #010101 !important;
    background-color: inherit;
}

.headerpan h4
{
    color: #010101 !important;
    background-color: inherit;
}

.li_desc
{
    color: #333333 !important;
    background-color: inherit;
}

.footer
{
    background-color: #010066 !important;
}

.footinner p
{
    color: #A0A0A0 !important;
    background-color: inherit;
}

.respondersubmit
{
    background-color: #010066 !important;
    color: #a0a0a0 !important;
}

div.trigger_opt
{
    background-color: #010066 !important;
}

    div.trigger_opt p, .respondersubmit
    {
        color: #FFFFFF !important;
    }

.listcontenttext
{
    color: #000000 !important;
}

.page ul li
{
    color: #333333 !important;
}

.page ol li
{
    color: #333333 !important;
}

.contentpan
{
    background-color: #FFFFFF !important;
}

.toggle_container
{
    background-color: #F0F0F0 !important;
}

div.page blockquote
{
    background-color: #F0F0F0 !important;
}

.block
{
    color: #333333 !important;
}

.mainContent .contentpan .homepagetext
{
    color: #000000 !important;
}

.toggle_container .block, div.page blockquote
{
    color: #000000 !important;
}

.mainContent .contentpan .hmemiddle
{
    color: #000000 !important;
}